[run]
parallel-mode = True
branch = True
package = 
    savReaderWriter

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if debug

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # Return codes unequal to zero will cause warning or error
    # Is it a sensible thing to do to exclude this from coverage measurement?
    if retcode
omit = 
    *numpy*
    *_version*

