graft savReaderWriter/cWriterow
graft savReaderWriter/documentation
graft savReaderWriter/unit_tests
graft savReaderWriter/test_data
graft savReaderWriter/spssio
#prune savReaderWriter/spssio
include ez_setup.py
include VERSION
include COPYRIGHT
global-exclude *.pyc *.*~ *~
prune .git
include versioneer.py
include savReaderWriter/_version.py
